* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.app-title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  color: black;
  letter-spacing: 1px;
}

.login-container {
  height: 100vh;
  background-color: #e9e1f1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 300px;
  text-align: center;
}


h2 {
  margin-bottom: 20px;
  color: black;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  margin-bottom: 15px;
  background-color: #7b4db2; 
  color: white;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background-color: #0b0b7a; 
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.register-text {
  margin-top: 15px;
  font-size: 14px;
}

.register-text span {
  color: #0b0b7a;
  font-weight: bold;
  cursor: pointer;
}
