.navbar {
  height: 60px;
  background-color: #1a167a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
}

.navbar-links a:hover {
  text-decoration: underline;
}
