.navbar {
  height: 60px;
  background-color: #0b0b7a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  cursor: pointer;
  font-size: 15px;
}

.nav-links li:hover {
  text-decoration: underline;
}

.nav-right {
  display: flex;
  gap: 20px;
  font-size: 14px;
}

.logout {
  cursor: pointer;
  font-weight: bold;
}
